doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Datlacuache | Data Driven Solutions

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/logo_white.png')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Contact form
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrngR7p6OcZ97JLp?backgroundColor=gray" frameborder="0" onmousewheel="" width="100%" height="935" style="background: transparent; border: 1px solid #ccc;"></iframe>


        // Footer
        include includes/footer.pug

        include includes/scripts.pug