doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Datlacuache | Data Driven Solutions

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/logo_white.png')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            div#particles-js
            header.py-5.masthead
                .container.px-5
                    .row.gx-5.align-items-center.justify-content-center
                        .col-lg-8.col-xl-7.col-xxl-6
                            .my-5.text-center.text-xl-start
                                h1.display-5.fw-bolder.text-white.mb-2 Soluciones inteligentes basadas en 
                                    span.marker datos
                                p.lead.fw-normal.text-white-50.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. 
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl-start
                                    a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Conoce más...
                                    a.btn.btn-outline-light.btn-lg.px-4(href='/') Soluciones 🚀
                        .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center
                            img.img-fluid.rounded-3.my-5(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')

            // Features section
            section#features.py-5
                .container.px-5.my-5
                    .row.gx-5
                        .col-lg-4.mb-5.mb-lg-0
                            h2.fw-bolder.mb-0.marker Soluciones inteligentes a tu alcance
                        .col-lg-8
                            .row.gx-5.row-cols-1.row-cols-md-2
                                .col.mb-5.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-box
                                    h2.h5 Machine Learning
                                    p.mb-0
                                        | Resuelve problemas robustos a través de algoritmos de inteligencia artificial.
                                .col.mb-5.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-bar-chart-line-fill
                                    h2.h5 Dashboards & Analítica
                                    p.mb-0
                                        | Comprende mejor tus datos a través de herramientas útiles de visualización y análisis.
                                .col.mb-5.mb-md-0.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-window-sidebar
                                    h2.h5 Sistemas de Datos
                                    p.mb-0
                                        | Obten el máximo provecho de tus datos con soluciones a la medida.
                                .col.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-diagram-3
                                    h2.h5 Orquestación y automatización
                                    p.mb-0
                                        | Simplifica y automatiza tus procesos de toma de decisiones con un control absoluto.

            // Testimonial section
            .py-5.bg-light
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-10.col-xl-7
                            .text-center
                                .fs-4.mb-4.fst-italic "Working with Start Bootstrap templates has saved me tons of development time when building new projects! Starting with a Bootstrap template just makes things easier!"
                                .d-flex.align-items-center.justify-content-center
                                    img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                    .fw-bold
                                        | Tom Ato
                                        span.fw-bold.text-primary.mx-1 /
                                        | CEO, Pomodoro
            

            // New section
            section.py-5
                .container.px-5.my-5
                    .text-center
                        h3.fw-bolder.text-muted.mb-5 Nuestro stack
                    .row.justify-content-center
                        .col.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.mb-4.px-4(src='assets/tech/python.png', alt='Python', width='100')
                                img.img-fluid.mb-4.px-4(src='assets/tech/bento.png', alt='BentoML', width='100')
                                img.img-fluid.mb-4.px-4(src='assets/tech/airflow.png', alt='Airflow', width='100')
                                img.img-fluid.mb-4.px-4(src='assets/tech/gcp.png', alt='GCP', width='100')
                                img.img-fluid.mb-4.px-4(src='assets/tech/tensorflow.png', alt='TensorFlow', width='100')

                    // Call to action
                    aside.bg-primary.bg-gradient.rounded-3.p-4.p-sm-5.mt-5
                        .d-flex.align-items-center.justify-content-between.flex-column.flex-xl-row.text-center.text-xl-start
                            .mb-4.mb-xl-0
                                .fs-3.fw-bold.text-white Nuevos retos, nuevas soluciones. Con datos.
                                .text-white-50 Acércate a los expertos.
                            .ms-xl-4
                                a.btn.btn-lg.btn-outline-light(href='contact.html') Contáctanos 📩
                                .small.text-white-50 (No te vas a arrepentir.)


        // Particles JS
        script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')


        // Footer
        include includes/footer.pug

        include includes/scripts.pug
