// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Resets for body and html height for sticky footer
body,
html {
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-family: 'Permanent Marker', sans-serif;
}

nav {
    position: fixed;
    z-index: 1;
    background-color: black;
    font-size: 1.2em;
}

footer {
    background-color: black;
}

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

// Background image for featured blog post
.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}

.masthead {
    height: 95vh;
    min-height: 500px;
    position: relative;
    padding: 50;
}

#particles-js {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-color: black;
}